/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/
/*sets the background color and text color for my header element */
header * {
	background-color: #333333;
	color: #00f606;
	text-align: left;
	padding-left: 2.2em;
}

/*takes my header element and adds both lines of text to the same inline block */
h1 {
	display: inline-block;
}
em {
	display: inline-block;
	margin: 1em;
}
/* adds a top margin to the welcome gif */
[src="images/welcome.gif"] {
	margin-top: 3em;
}

/*wraps the instructions table in a solid black border */
.instructions-wrapper {
	display: inline-block;
	border: solid black .2em;
	text-align: center;
	margin-bottom: 3em;
	margin-top: 1em;
	padding: 2em;
}

/*floats Janeway image to the right of the text */
.instructions-wrapper > img {
	height: 10em;
	width: 12em;
	float: right;
	margin-left: 3em;
}

/*floats the instructions text to the left of the Janeway image */
.instructions-wrapper > .instructions-content {
	float: left;
	border-right: 3em;
	text-align: left;
}

/*set the background color of the about me section */
.about-me .container {
	display: inline-block;
	background-color: #0000ff;
	align-content: right;
	text-align: left;
	padding: 3em;
}
/* floated the Picard image left, made it smaller, and set a right margin */
[src="images/stunning.jpg"] {
	float: left;
	height: 15em;
	width: 18em;
	margin-right: 3em;
}

/*centers my text and block elements */
html, body {
	text-align: center;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: .1em solid black;
}

th {
	border-collapse: collapse;
	border: .2em solid #ffffff;
	background-color: #333333;
	color: #00f50e;
	padding: .7em;
}

tr {
	border-collapse: collapse;
	border: .2em solid #7b7b7b;
	background-color: #333333;
	color: #00f50e;
	padding: .7em;
}

td {
	border-collapse: collapse;
	border: .2em solid #7b7b7b;
	background-color: #333333;
	color: #00f50e;
	padding: .7em;
}